/* .start {
    margin: 0;
    padding: 0;
    background: url(../../assets/images/brew.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
   */

   .start {
    /* The image used */
    background-image: url(../../assets/images/brew.jpeg) no-repeat center center fixed;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}